@{
    ViewBag.Title = "Página principal";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li>@Html.ActionLink("Device list:","Index","Device")</li>
    <li>@Html.ActionLink("New device:","New","Device")</li>
</ul>


